.main-text {
    color: var(--gold);
    font-size: var(--font-title);
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.forgot-password-hint {
    color: var(--light-beige);
    font-size: var(--font-s);
    margin-top: 24px;
    line-height: 1.4;
}
