POSTGRES_HOST=localhost
POSTGRES_USER=habrpguser
POSTGRES_PASSWORD=pgpwd4habr
POSTGRES_DATABASE=habrdb
POSTGRES_DB=habrdb


JWT_SECRET_KEY=your-super-secret-key-change-me
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN=15

IAM_SECRET_KEY=secret
IAM_ALGORITHM=HS256
IAM_ACCESS_TOKEN_EXPIRE_MINUTES=30

REDIS_PASSWORD=redispass123
REDIS_USER=redisuser
REDIS_USER_PASSWORD=redisuserpass123

API_URL_IAM=http://iam:8012
API_URL_CATALOG=http://catalog:8013
API_URL_BOOKING=http://booking:8014
API_URL_ANALYTICS=http://analytics:8015
API_URL_NOTIFICATIONS=http://notifications:8011
API_URL_FRONTEND=http://localhost:8003